mixin sectionIntro(props = {})
  - const rootClassName = "section-intro";
  - const className = props.class || null;
  - const style = props.style || null;
  - const heading = props.heading || [];
  - const description = props.description || "";
  -
    const classes = [
      rootClassName,
      className
    ];

  // Start: [Section: intro]
  section(
    class = classes 
    style = style
  )

    // Start: [Container] 
    +container()

      // Start: [Stack: wrapper] 
      div(class = [
        `${rootClassName}__wrapper`, 
        "py-64", 
        "px-64",
        "sm:py-20",
        "sm:px-20"
      ])

        // Start: [Grid] 
        +grid({class: ["align-items-center", "lg:flex-direction-column-reverse"]})
          
          // Start: [Column 7] 
          +column({class: ["column-7", "lg:column-12"]})
            +typography({
              class: [`${rootClassName}__heading`, "mb-16"],
              as: "h1",
              variant: "h1"
            })
              each str in heading
                span
                  span #{str}
            +typography({
              class: `${rootClassName}__description mb-24`,
              as: "p", 
              variant: "body-large"
            })
              | #{description}

            // Start: [Stack: form] 
            +stack({class: [`${rootClassName}__form`, "md:flex-direction-column"]})
              +textField({placeholder: "Job title", icon: "dock-search"})
              +selectField({
                placeholder: "City", 
                icon: "map-point",
                options: [
                  { label: "Option 1", value: "option-1" },
                  { label: "Option 2", value: "option-2" },
                  { label: "Option 3", value: "option-3" }
                ]
              })
              +button({
                icon: "search", 
                variant: "primary-orange", 
                label: "Search"
              })
            // End: [Stack: form] 
          // End: [Column 7]

          // Start: [Column 5] 
          +column({class: ["column-5", "lg:display-none"]})
            div(class = `${rootClassName}__illustration`)
            
          // End: [Column 5] 
        // End: [Grid] 
      // End: [Stack: wrapper] 
    // End: [Container] 
  // End: [Section: intro] 