mixin sectionIntro(props = {})
  - const rootClassName = "section-intro";
  - const className = props.class || null;
  - const style = props.style || null;
  - const heading = props.heading || [];
  - const description = props.description || "";
  -
    const classes = [
      rootClassName,
      className
    ];

  section(
    class = classes 
    style = style
  )

    // Start: [container] 
    +container()

      // Start: [box/section-intro__wrapper] 
      +box({
        class: [
          `${rootClassName}__wrapper`,
          "py-64", 
          "px-64",
          "sm:py-20",
          "sm:px-20"
        ],
        variant: "filled",
        radius: "md"
      })

        // Start: [grid] 
        +grid({
          class: [
            "align-items-center",
            "lg:flex-direction-column-reverse"
          ]
        })
          
          // Start: [column-7] 
          +column({
            class: [
              "column-7", 
              "lg:column-12"
            ]
          })
            +typography({
              class: [
                `${rootClassName}__heading`,
                "mb-16"
              ],
              as: "h1",
              variant: "h1"
            })
              each str in heading
                span
                  span #{str}
            +typography({
              class: [
                `${rootClassName}__description`,
                "mb-24"
              ],
              as: "p", 
              variant: "body-large"
            })
              | #{description}

            // Start: [stack/section-intro__form] 
            +stack({
              class: [
                `${rootClassName}__form`, 
                "md:flex-direction-column"
              ]
            })

              // Start: [text-field] 
              +textField({
                placeholder: "Job title",
                icon: "dock-search"
              })
              // End: [text-field]
   
              // Start: [select-field] 
              +selectField({
                placeholder: "City", 
                icon: "map-point",
                options: [
                  { label: "Option 1", value: "option-1" },
                  { label: "Option 2", value: "option-2" },
                  { label: "Option 3", value: "option-3" }
                ]
              })
              // End: [select-field] 

              // Start: [button] 
              +button({
                icon: "search", 
                variant: "primary-orange", 
                label: "Search"
              })
              // End: [button] 
            // End: [stack/section-intro__form] 
          // End: [column-7]

          // Start: [Column 5] 
          +column({
            class: [
              "column-5", 
              "lg:display-none"
            ]
          })
            div(class = `${rootClassName}__illustration`)
          // End: [Column 5] 
        // End: [grid] 
      // End: [box/section-intro__wrapper] 
    // End: [container] 